:root {
    --animation-transition: 0.4s ease-out;
}

/* LOADING PAGE */

.loading-page-animation {
    animation: loadingPageAnimation 1s ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}

@keyframes loadingPageAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.loading-page-init-bar-animation {
    animation: loadingPageInitBarAnimation var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loadingPageInitBarAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

.loading-page-bar-animation {
    animation: loadingPageBarAnimation var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loadingPageBarAnimation {
    0% {
        width: 30%;
    }
    100% {
        width: 100%;
    }
}

/* LOADING BAR */

.loading-bar-animation {
    animation: loadingBarAnimation var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes loadingBarAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/* DOM ELEMENTS */

.fade-in {
    opacity: 0;
}

.show-user-dropdown {
    animation: showUserDropdownAnimation var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes showUserDropdownAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hide-user-dropdown {
    animation: hideUserDropdownAnimation var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hideUserDropdownAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.show {
    animation: showAnimation var(--animation-transition);
    animation-iteration-count: 1;
}

@keyframes showAnimation {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.show-page {
    animation: showPageAnimation var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes showPageAnimation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.hide-page {
    animation: hidePageAnimation var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hidePageAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

.show-page-shadow-background {
    animation: showPageShadowBackgroundAnimation var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes showPageShadowBackgroundAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.hide-page-shadow-background {
    animation: hidePageShadowBackgroundAnimation var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes hidePageShadowBackgroundAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.user-list-warn-on {
    animation: userListWarnAnimationOn 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes userListWarnAnimationOn {
    0% {
        border: 2px solid var(--font-2);
    }
    100% {
        border: 2px solid var(--color-warning);
    }
}

.user-list-warn-off {
    animation: userListWarnAnimationOff var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes userListWarnAnimationOff {
    0% {
        border: 2px solid var(--color-warning);
    }
    100% {
        border: 2px solid var(--font-2);
    }
}

.anime-page-warn-on {
    animation: animePageWarnAnimationOn 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animePageWarnAnimationOn {
    0% {
        color: var(--font-1);
    }
    100% {
        color: var(--color-warning);
    }
}

.anime-page-warn-off {
    animation: animePageWarnAnimationOff var(--animation-transition);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animePageWarnAnimationOff {
    0% {
        color: var(--color-warning);
    }
    100% {
        color: var(--font-1);
    }
}