/* MAIN BUTTON 0 */

button.b1,
button.b1 .primary {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--color-1);
  background-color: var(--color-important);
  width: max-content;
  padding: 12px 24px;
  margin-top: 10px;
  border-radius: var(--border-radius);
  border: none;
  outline: none;
  transition: 0.1s ease;
}

button.b1.light {
  color: var(--color-1);
  background-color: var(--font-1);
}

button.b1.dark {
  color: var(--font-2);
  background-color: var(--color-3);
}

button.b1:hover:not(.disabled) {
  transform: scale(1.05);
  filter: brightness(0.90);
}

button.b1:active:not(.disabled) {
  transform: scale(1);
  filter: brightness(0.80);
}

/* SELECT */
select.main-select-0 {
  outline: none;
  border: none;
  padding: 6px 0px 6px 8px;
  font-size: 1rem;
  font-weight: var(--font-weight);
  color: var(--font-2);
  background-color: var(--color-3);
  border-right: 8px solid transparent;
  border-radius: var(--border-radius);
}

/* CIRCLE BUTTON */

button.circle-button-0 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--font-3);
  border: none;
  outline: none;
  background-color: var(--color-1);
  border-radius: 100px;
  /* cursor: pointer; */
  transition: var(--transition);
}

button.circle-button-0 i {
  font-size: 1.3rem;
}

button.circle-button-0:hover {
  color: var(--color-1);
  background-color: var(--font-1);
}

button.circle-button-0:active {
  filter: brightness(0.80);
}

button.circle-button-0.disabled {
  cursor: auto;
}

button.circle-button-0.disabled i {
  color: var(--color-1);
}

button.circle-button-0.disabled:hover {
  color: var(--color-1);
  background-color: var(--color-0);
}

button.circle-button-0.disabled:active {
  filter: brightness(1);
}

/* PROGRESS BAR */
.bar {
  width: calc(100% - 20px);
  height: 5px;
  margin: 10px;
  bottom: 0;
  position: absolute;
  background-color: var(--color-dark-opacity);
  border-radius: var(--border-radius);
}

.progress-bar {
  height: 100%;
  background-color: var(--color-important);
  border-radius: var(--border-radius);
}

/* BUBBLE */

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease-out 0.8s;
  visibility: visible;
  transform: translateX(0px);
}

[data-title]:after {
  transform: translateX(-10px);
  content: attr(data-title);
  background-color: var(--color-2);
  color: var(--font-2);
  font-size: 1.2rem;
  position: absolute;
  left: 67px;
  padding: 4px 8px;
  opacity: 0;
  border: 2px solid var(--color-3);
  border-radius: 8px;
  z-index: 99999;
  visibility: hidden;
  white-space: nowrap;
}

[data-title] {
  position: relative;
}

/* SKELETON LOADER */

.loading .anime-title,
.loading .anime-description,
.loading button,
.loading .anime-cover,
.loading .anime-info {
  background-color: var(--color-2);
  border-radius: var(--border-radius);
}

.loading .anime-title,
.loading .anime-description,
.loading button,
.loading .anime-cover,
.loading .anime-info {
  background: linear-gradient(90deg,
      var(--color-2) 10%,
      var(--color-3) 50%,
      var(--color-2) 80%) var(--color-2);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 0.7s loading ease-in infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.loading .anime-cover,
.loading .anime-info {
  min-height: 1.6rem;
}

.loading .content .anime-info {
  min-width: 2rem;
  min-height: 1rem;
}

.loading .anime-title {
  min-width: 14rem;
  min-height: 1rem;
}

.loading .anime-description {
  min-width: 20rem;
  min-height: 1rem;
}

.loading button {
  min-width: 1rem;
  min-height: 1rem;
}

/* SEPARATOR */

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: var(--font-weight);
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px dashed var(--font-3);
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

/* SWITCH */

/* The switch - the box around the slider */
label.switch {
  border: none;
  outline: none;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px;
}

/* Hide default HTML checkbox */
label.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  /* cursor: pointer; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--font-1);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider.disabled:before {
  filter: brightness(0.5);
}

input:checked+.slider {
  background-color: var(--color-important);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-important);
}

input:checked+.slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* LOADER */

.ring {
  --uib-size: 80px;
  --uib-speed: 2s;
  --uib-color: var(--font-3);

  height: var(--uib-size);
  width: var(--uib-size);
  vertical-align: middle;
  transform-origin: center;
  animation: rotate var(--uib-speed) linear infinite;
}

.ring circle {
  fill: none;
  stroke: var(--uib-color);
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: stretch calc(var(--uib-speed) * 0.75) ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes stretch {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -124px;
  }
}