@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --color-1: #121212;
    --color-1-rgba: #121212dc;
    --color-2: #171717;
    --color-3: #242424;
    --color-4: black;
    --font-1: white;
    --font-2: #9C9C9C;
    
    --font-weight: 600;
    --border-radius: 10px;
    --transition: 0.1s ease-out;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-3);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-1);
    border: 2px solid var(--color-2);
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--color-4);
}

* {
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Quicksand', sans-serif;

    /* everything unselectable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    /* user-drag: none; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html,
body {
    background-color: var(--color-1);
    width: 100%;
    height: 100%;
}

/* fade-in animation when elements are on view */
.fade-in {
    opacity: 0;
}

.show {
    animation: fadeInAnimation 1s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#login-page {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
}

    #login-page img {
        width: 500px;
    }

    #login-page button#login-button {
        font-size: 1.6rem;
        font-weight: var(--font-weight);
        color: var(--color-4);
        background-color: var(--font-1);
        width: 200px;
        height: 60px;
        border-radius: var(--border-radius);
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.1s ease-out;
    }

    #login-page button#login-button:hover {
        transform: scale(1.1);
    }

    #login-page button#login-button:active {
        transform: scale(1.05);
        filter: brightness(0.7);
    }

nav#nav-main {
    margin: auto;
    z-index: 1;
    width: 1000px;
    height: 75px;
    display: flex;
    padding: 0 30px;
    background-color: var(--color-1);
}

nav#nav-main ul {
    display: flex;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

nav#nav-main ul li {
    font-size: 1.3rem;
    display: inline;
    color: var(--font-1);
    font-weight: var(--font-weight);
    padding: 10px 20px;
    cursor: pointer;
}

nav .search-bar-wrapper-wrapper {
    display: flex;
    align-items: center;
}

nav .search-bar-wrapper-wrapper .search-bar-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--color-1);
    color: var(--font-2);
    font-size: 1.2rem;
    font-weight: var(--font-weight);
    border-radius: var(--border-radius);
    width: 300px;
    height: 40px;
    padding-left: 15px;
}

nav .search-bar-wrapper-wrapper .search-bar-wrapper input.search-bar {
    font-size: 1.2rem;
    color: var(--font-1);
    font-weight: var(--font-weight);
    width: 100%;
    height: 100%;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
}

nav .search-bar-wrapper-wrapper .search-bar-wrapper input.search-bar::placeholder {
    color: var(--font-2);
}

nav .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 100%;
}

nav .user-icon img {
    width: 40px;
    border-radius: var(--border-radius);
}

/* MAIN SECTION */

main {
    color: var(--font-1);
    width: 100%;
    height: 100%; /* da levare */
}

main .featured {
    position: relative;
}

main .featured .featured-container {
    display: flex;
    z-index: 0;
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

main .featured .featured-container .featured-left{
    width: 30%;
    z-index: 3;
    background-color: var(--color-1-rgba);
}

    main .featured .featured-container .featured-left .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        height: 100%;
        padding-left: 100px;
        font-weight: var(--font-weight);
    }
    
    main .featured .anime-title {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 3rem;
        line-height: 55px;
    }

    main .featured .anime-info {
        display: flex;
        gap: 20px;
    }

    main .featured .anime-info,
    main .featured .anime-genres {
        color: var(--font-2);
    }

    main .featured button {
        font-size: 1.1rem;
        font-weight: var(--font-weight);
        color: var(--color-4);
        background-color: var(--font-1);
        width: 180px;
        height: 50px;
        border-radius: var(--border-radius);
        border: none;
        outline: none;
        cursor: pointer;
        transition: var(--transition);
    }

main .featured .featured-container .featured-shadow {
    width: 10%;
    z-index: 4;
    background: linear-gradient(0.25turn, var(--color-1-rgba), transparent);
}

main .featured .featured-container .featured-right{
    width: 60%;
    z-index: 3;
    background-color: transparent;
}

main .featured .featured-img {
    padding: 0 50px;
}

main .featured .featured-img img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 50%; /* try 20px 10px */ 
    border-radius: var(--border-radius);
}

main .section-container {
    padding: 0px 50px;
}

main section {
    margin-top: 40px;
}

main #anime-page {
    width: 100%;
    height: 100%;
    display: none; /* flex */
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: var(--color-1-rgba);
    backdrop-filter: blur(10px);
}

main .anime-page {
    width: 90%;
    height: 90%;
    border-radius: var(--border-radius);
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
}

    main .anime-page .content-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    main .anime-page .content {
        width: 100%;
        display: flex;
        height: max-content;
        margin: 30px;
    }

    main .anime-page .content .page-anime-left {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    main .anime-page .content .page-anime-left h4 {
        font-weight: var(--font-weight);
        color: var(--font-2);
    }

    main .anime-page .content .page-anime-left h3 {
        color: var(--font-1);
    }
    
    main .anime-page .content .page-anime-left img#page-anime-cover {
        height: 450px;
        border-radius: var(--border-radius);
    }
    
    main .anime-page .content .page-anime-right {
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px;
    }

    main .anime-page .content .page-anime-right .anime-title {
        font-size: 3rem;
        font-weight: var(--font-weight);
    }

    main .anime-page .content .page-anime-right .anime-title h2 {
        width: fit-content;
    }

    main .anime-page .content .page-anime-right .anime-title span{
        color: var(--font-2);
    }

    main .anime-page .content .page-anime-right .anime-description {
        color: var(--font-2);
        font-size: 1.2rem;
    }

    main .anime-page .menu {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        width: 200px;
    }
    
    main .anime-page .menu ul {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        list-style-type: none;
        gap: 30px;
        padding-left: 0;
    }
    
    main .anime-page .menu ul li {
        color: var(--font-2);
        font-size: 1.6rem;
        font-weight: var(--font-weight);
        cursor: pointer;
        transition: var(--transition);
    }

    main .anime-page .menu ul li.active {
        color: var(--font-1);
    }

    main .anime-page button#exit {
        position: absolute;
        margin: 5px 10px;
        color: var(--font-2);
        font-size: 2rem;
        font-weight: var(--font-weight);
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        transition: var(--transition);
    }

    main .anime-page .menu ul li:hover,
    main .anime-page button#exit:hover {
        color: var(--font-1);
    }

main section h1 {
    font-weight: var(--font-weight);
    font-size: 1.4rem;
    margin-bottom: 15px;
}

main section .anime-list-wrapper {
    width: 100%;
    overflow: hidden;
}

main section .anime-list {
    float: left;
    width: max-content;
    gap: 20px;
    margin-bottom: 20px;
}

main section .anime-list .anime-entry {
    width: 158px;
    display: inline-block;
    background-color: var(--color-2);
    border-radius: var(--border-radius);
    padding: 10px;
    z-index: 2;
    cursor: pointer;
    transition: 0.2s ease-out;
}

main section .anime-list .anime-entry:hover {
    background-color: var(--color-3);
}
  
main section .anime-list .anime-entry:not(:last-child) {
    margin-right: 20px;
}

main section .anime-list .anime-entry img.anime-cover {
    height: 224px;
    /* height: 300px; better */
    border-radius: var(--border-radius);
}

main section .anime-list .anime-entry .anime-title {
    color: var(--font-1);
    font-weight: var(--font-weight);
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
}

main section .anime-list .anime-entry .anime-progress {
    color: var(--font-2);
    font-size: 1rem;
    font-weight: var(--font-weight);
}