@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --color-1: #1F2937;
    --color-2: #19212c;
    --color-3: #0e131a;
    --font-1: #F8CDC9;
    --font-2: #DCE2EA;
    --font-3: #505b6b;
    
    --font-weight: 600;
}

* {
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Quicksand', sans-serif;

    /* everything unselectable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html,
body {
    background-image: linear-gradient(var(--color-2), var(--color-3));
    /* background-color: var(--color-2); */
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.body-container {
    display: flex;
    flex-direction: row;
}

.up-spacing {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 80px;
    width: 100%;
}

nav#nav-main {
    width: 280px;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 0;
    left: 0;
    /* background-color: var(--color-1); */
    background-image: linear-gradient(var(--color-1), var(--color-2));
    backdrop-filter: blur(10px);
    padding: 0px 40px;
    transition: 0.3s ease-out;
}

nav#nav-main .up-spacing {
    display: flex;
    align-items: center;
}

nav#nav-main .logo-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
}

nav#nav-main .logo-wrapper img {
    height: 40px;
}

nav#nav-main h1 {
    font-size: 1rem;
    color: var(--font-3);
    font-weight: var(--font-weight);
}

nav#nav-main #nav-logo {
    width: 30px;
    height: 30px;
}

nav#nav-main ul {
    background-color: var(--color-);
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 60px;
}

nav#nav-main ul li {
    font-size: 1.1rem;
    color: var(--font-3);
    font-weight: var(--font-weight);
    padding: 8px 0px;
    cursor: pointer;
    /* border: 1px solid red; */
    transition: 0.2s ease-in-out;
}

nav#nav-main ul.navbar li.active {
    color: var(--font-2);
}

nav#nav-main ul li i {
    font-size: 1.4rem;
    margin-right: 25px;
}

nav#nav-main ul li:hover {
    color: var(--font-2);
}

main {
    color: var(--font-2);
    width: 100%;
    height: 100%; /* da levare */
    padding: 0px 35px;
    /* border: 1px solid red; */
}

main .up-spacing {
    display: flex;
    align-items: center;
}

main .up-spacing .search-bar-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--color-1);
    color: var(--font-3);
    font-size: 1.2rem;
    font-weight: var(--font-weight);
    border-radius: 10px;
    width: 500px;
    height: 40px;
    padding-left: 15px;
}

main .up-spacing .search-bar-wrapper input.search-bar {
    font-size: 1.2rem;
    color: var(--font-2);
    font-weight: var(--font-weight);
    width: 100%;
    height: 100%;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
}

main .up-spacing .search-bar-wrapper input.search-bar::placeholder {
    color: var(--font-3);
}

main .up-spacing .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 100%;
}

main .up-spacing .user-icon img {
    width: 40px;
    border-radius: 10px;
}

main section {
    margin-bottom: 40px;
}

main section .anime-page-wrapper {
    display: none; /* flex */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main section .anime-page-wrapper .anime-page {
    width: 1500px;
    height: 850px;
    margin: 300px;
    border-radius: 10px;
    background-image: linear-gradient(var(--color-2), var(--color-3));
}

main section h1 {
    font-weight: var(--font-weight);
    font-size: 1.3rem;
    margin-bottom: 15px;
}

main section .anime-list  {
    gap: 20px;
}

main section .anime-list .anime-entry {
    width: 158px;
    display: inline-block;
    border-radius: 10px;
    z-index: 2;
    cursor: pointer;
    transition: 0.2s ease-out;
}
  
main section .anime-list .anime-entry:not(:last-child) {
    margin-right: 20px;
}

main section .anime-list .anime-entry img.anime-cover {
    height: 224px;
    border-radius: 10px;
}

main section .anime-list .anime-entry .anime-title {
    color: var(--font-2);
    font-weight: var(--font-weight);
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
}

main section .anime-list .anime-entry .anime-progress {
    color: var(--font-3);
    font-size: 1rem;
    font-weight: var(--font-weight);
}