@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

:root {
    --color-0: #0f0f0f;
    --color-1: #222222;
    --color-2: #3d3d3d;
    --color-3: #535353;
    --color-important: #ff6b6b;
    --color-dark-opacity: rgba(0, 0, 0, 0.8);
    --color-warning: rgb(255, 61, 61);
    --color-success: #45AD67;
    --main-bg: #1b1b1b;
    
    --font-1: #fffdff;
    --font-2: rgb(179, 179, 179);
    --font-2-transparent: rgba(179, 179, 179, 0.507);
    
    --font-weight: 600;
    --border-radius: 8px;
    --transition: 0.2s ease-out;
    --shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--color-3);
    border: 2px solid transparent;
    background-clip: content-box;
    transition: var(--transition);
}

::-webkit-scrollbar-thumb:active {
    background-color: var(--color-2);
}

* {
    margin: 0;
    font-family: 'DM Sans', sans-serif;

    /* everything unselectable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html,
body {
    background: var(--main-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
    border-radius: 5px;
}

img {
    /* user-drag: none; */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.document-controls {
    -webkit-app-region: drag;
    width: 100%;
    position: fixed;
    z-index: 21;
    background: var(--main-bg);
}

.document-controls ul {
    -webkit-app-region: none;
    width: max-content;
    margin-left: auto;
    padding-left: 0;
}

.document-controls ul li {
    color: var(--font-1);
    padding: 2px 7px;
    display: inline-block;
    transition: var(--transition);
    cursor: pointer;
}

.document-controls ul li:hover {
    background-color: var(--color-2);
}

.document-controls ul li#document-quit:hover {
    background-color: var(--color-warning);
}

.document-controls ul li:active {
    background-color: var(--color-2);
}

.document-controls ul li i {
    font-size: 0.8rem;
}

#loading-bar {
    display: block;
    width: 0%;
    height: 2px;
    position: fixed;
    bottom: 0;
    background-color: var(--color-important);
    z-index: 21;
}

.body-container {
    height: 100%;
    z-index: 20;
    overflow: auto;
}

#loading-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: var(--color-2);
    background: var(--main-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 9999;
    transition: var(--transition);
}

.loading-page-container {
    position: relative;
    width: 750px;
    height: 225px;
}

#loading-page img {
    width: 100%;
}

#loading-page #loading-page-bar {
    position: absolute;
    width: 100%;
    height: 10px;
    bottom: 0;
    left: 0;
    background-color: var(--color-2);
    border-radius: var(--border-radius);
    box-sizing: var(--shadow);
}

#loading-page #loading-page-bar #loading-page-progress-bar {
    height: 100%;
    width: 0%;
    background-color: var(--color-important);
    border-radius: var(--border-radius);
}

/*  */
.auto-update-page {
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: var(--border-radius);
    background: var(--main-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

    .auto-update-page .content-wrapper {
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        display: flex;
        justify-content: center;
        padding: 30px;
    }

    .auto-update-page .content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

        .auto-update-page .content h1 {
            color: var(--font-1);
            text-align: center;
        }

        .auto-update-page .content h2#auto-update-date {
            font-size: 0.9rem;
            font-weight: var(--font-weight);
        }

        .auto-update-page .content h2 {
            color: var(--font-2);
            text-align: center;
        }

        .auto-update-page .content h3#auto-update-megabytes {
            color: var(--font-2);
            text-align: center;
        }

        .auto-update-page .content .notes {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .auto-update-page .content .notes #auto-update-notes {
            width: 340px;
            height: 340px;
            display: flex;
            overflow-x: hidden;
            overflow-y: auto;
            color: var(--font-2);
            background-color: var(--color-0);
            border-radius: var(--border-radius);
        }

        .auto-update-page .content .bar {
            width: 100%;
            margin: 0;
            position: static;
            margin: 10px 0;
            background-color: var(--color-0);
        }
        
        .auto-update-page .content .progress-bar {
            width: 0%;
            background-color: var(--color-important);
        }

        .auto-update-page .content .buttons {
            width: 100%;
            height: 60px;
            display: flex;
            gap: 30px;
        }

            .auto-update-page .content .buttons button {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                color: var(--font-1);
                background-color: var(--color-0);
                font-size: 1.2rem;
                font-weight: var(--font-weight);
                border-radius: var(--border-radius);
                cursor: pointer;
                transition: var(--transition);
            }

            .auto-update-page .content .buttons button#auto-update-download {
                color: var(--color-success);
            }
        
            .auto-update-page .content .buttons button:hover {
                filter: brightness(0.80);
            }
        
            .auto-update-page .content .buttons button:active {
                filter: brightness(0.70);
            }

.nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 25px;
}

.nav-wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 15;
    background-color: transparent;
    transition: 0.2s ease-out;
}

    .nav-wrapper.shadow {
        box-shadow: var(--shadow);
    }

nav#nav-main {
    width: calc(100% - 100px);
    z-index: 19;
    height: 70px;
    display: flex;
    border-radius: var(--border-radius);
    align-items: center;
    justify-content: center;
}

    nav#nav-main img#nav-img {
        width: 140px;
        margin-right: 30px;
        cursor: pointer;
    }

    nav#nav-main img#nav-img:active {
        filter: brightness(0.90);
    }

    nav#nav-main ul.nav-ul {
        display: flex;
        align-items: center;
        width: 100%;
        list-style-type: none;
        padding-left: 0;
    }

        nav#nav-main .nav-ul li.nav-li {
            font-size: 1.3rem;
            display: inline;
            color: var(--font-2);
            font-weight: 500;
            margin-right: 10px;
            padding: 10px 20px;
            /* border-radius: var(--border-radius); */
            cursor: pointer;
            transition: var(--transition);
        }
        
        nav#nav-main .nav-ul li.nav-li.right {
            padding: 10px;
        }
        
        nav#nav-main .nav-ul li.nav-li.active,
        nav#nav-main ul.nav-ul li.nav-li:hover {
            color: var(--font-1);
            /* background-color: var(--color-1); */
        }
        
    nav#nav-main .right {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }

        nav#nav-main .right .user {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 20;
            gap: 20px;
            padding: 10px;
            border-radius: var(--border-radius) var(--border-radius) 0 0;
            cursor: pointer;
            transition: var(--animation-transition);
        }
        
        nav#nav-main .right .user h2 i ,
        nav#nav-main .right .user #user-name {
            transition: var(--transition);
        }

        nav#nav-main .right .user:hover h2 i,
        nav#nav-main .right .user:hover #user-name {
            color: var(--font-1);
        }
        
        nav .right .user #user-name {
            color: var(--font-2);
            font-size: 1.1rem;
            }
            
            nav .right .user img {
                width: 40px;
                border-radius: 1000px;
            }
            
            nav .right .user h2 {
                color: var(--font-2);
                font-size: 0.8rem;
            }
            
        nav#nav-main .right .dropdown {
            width: 200px;
            height: max-content;
            top: 60px;
            right: 0;
            z-index: 19;
            background-color: var(--color-1);
            border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
            position: absolute;
            transition: var(--transition);
            box-shadow: var(--shadow);
        }
        
        nav#nav-main .right .dropdown ul.dropdown-ul {
            padding-left: 0px;
            text-decoration: none;
            padding: 10px;
        }

        nav#nav-main .right .dropdown ul.dropdown-ul li {
            list-style-type: none;
            color: var(--font-2);
            font-size: 1.1rem;
            padding: 10px;
            cursor: pointer;
            border-radius: var(--border-radius);
            transition: var(--transition);
        }
        
            nav#nav-main .right .dropdown ul.dropdown-ul li:not(:last-child) {
                margin-bottom: 10px;
            }
            
            nav#nav-main .right .dropdown ul.dropdown-ul li:hover {
                color: var(--font-1);
                background-color: var(--color-2);
            }

            nav#nav-main .right .dropdown ul.dropdown-ul li#user-dropdown-donate {
                text-align: center;
                color: var(--font-1);
                font-weight: var(--font-weight);
                background-color: var(--color-important);
            }

            nav#nav-main .right .dropdown ul.dropdown-ul li#user-dropdown-donate:hover {
                filter: brightness(0.80);
            }

            nav#nav-main .right .dropdown ul.dropdown-ul li#user-dropdown-donate:active {
                filter: brightness(0.70);
            }
        
            nav#nav-main .right .dropdown ul.dropdown-ul li i {
                font-size: 1.2rem;
                margin-right: 8px;
            }

.modal-page-shadow-background {
    display: none; /* turning flex */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 19;
    background-color: var(--color-dark-opacity);
}

.modal-page-wrapper {
    display: none; /* turning flex */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    align-items: center;
    justify-content: center;
}

.settings-page {
    position: relative;
    width: 1000px;
    height: 600px;
    border-radius: var(--border-radius);
    background: var(--main-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

    .settings-page .content-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 30px;
    }
    
    .settings-page .content {
        width: 100%;
        height: 100%;
        display: flex;
    }

        .settings-page .content .left {
            width: 20%;
            height: 100%;
            border-right: 2px solid var(--color-3);
        }

            .settings-page .content .left ul {
                padding-left: 0px;
                text-decoration: none;
                padding-right: 30px;
            }
            
            .settings-page .content .left ul li {
                list-style-type: none;
                color: var(--font-2);
                font-size: 1.1rem;
                padding: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                border-radius: var(--border-radius);
                transition: var(--transition);
            }
            
            .settings-page .content .left ul li.active {
                color: var(--font-1);
                background-color: var(--color-2);
            }

            .settings-page .content .left ul li:hover {
                color: var(--font-1);
                background-color: var(--color-2);
            }
        
        .settings-page .content .right {
            width: 80%;
            height: 100%;
            padding-left: 30px;
        }
        
            .settings-page .content .right .toggler {
                width: calc(100% - 100px);
                display: flex;
                align-items: center;
                padding: 10px 20px;
                color: var(--font-1);
                background-color: var(--color-2);
                margin-bottom: 15px;
                border-radius: var(--border-radius);
            }

            .settings-page .content .right .toggler label {
                margin-left: auto;
            }

        .settings-page .content .right form {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .settings-page .content .right form p {
            color: var(--font-1);
        }

        .settings-page .content .right form .form-element {
            display: flex;
            align-items: center;
            gap: 20px;
        }

        .settings-page .content .right img {
            width: 75px;
        }

    .settings-page button#exit {
        position: absolute;
        top: -25px;
        right: -25px;
        margin: 10px;
        color: var(--font-1);
        font-size: 2rem;
        font-weight: var(--font-weight);
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        transition: var(--transition);
    }

    .settings-page button#exit:hover {
        color: var(--color-important);
    }

.search-main-bar {
    z-index: 19;
    width: 500px;
    position: absolute;
    padding: 0 20px;
    background-color: var(--color-1);
    border: 2px solid var(--color-2);
    border-radius: 200px;
    transition: var(--transition);
}

.search-main-container {
    z-index: 19;
    width: 500px;
    position: fixed;
    flex-direction: column;
    margin: auto;
    margin-top: 70px;
    padding: 0 20px;
    background-color: var(--color-1);
    border: 2px solid var(--color-1);
    border-radius: var(--border-radius);
    transition: var(--transition);
    box-shadow: var(--shadow);
}

.search-main-bar #search-main {
    height: 45px;
    display: flex;
    align-items: center;
}

.search-main-bar .input-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .search-main-bar .input-container i {
            font-size: 1.3rem;
            color: var(--font-2);
            font-weight: var(--font-weight);
        }

        .search-main-bar .input-container input {
            width: 100%;
            border: none;
            outline: none;
            background-color: transparent;
            font-size: 1.3rem;
            color: var(--font-1);
            font-weight: var(--font-weight);
        }

            .search-main-bar .input-container input:focus {
                
            }

            .search-main-bar .input-container input::placeholder {
                color: var(--font-2);
            }

.search-main-container .scroller {
    overflow-y: auto;
    overflow-x: hidden;
    height: min-content;
    max-height: 800px;
}

.search-main-container .search-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0;
}

    .search-main-container .search-list .search-entry {
        width: calc(100% - 20px);
        height: 120px;
        display: flex;
        gap: 10px;
        padding: 5px;
        border: 2px solid transparent;
        border-radius: var(--border-radius);
        cursor: pointer;
        transition: var(--transition);
    }

    .search-main-container .search-list .search-entry:hover {
        background-color: var(--color-1);
        border: 2px solid var(--color-3);
    }

        .search-main-container .search-list .search-entry img {
            width: 85px;
            /* height: 120px; */
            object-fit: cover;
            border-radius: var(--border-radius);
            box-shadow: var(--shadow);
        }

        .search-main-container .search-list .search-entry .content {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

            .search-main-container .search-list .search-entry .content h1.title {
                font-size: 1rem;
                color: var(--font-1)
            }

            .search-main-container .search-list .search-entry .content .infos {
                display: flex;
                gap: 20px;
            }

                .search-main-container .search-list .search-entry .content .infos h2 {
                    font-size: 0.8rem;
                    color: var(--font-2);
                    font-weight: var(--font-weight);
                }

            .search-main-container .search-list .search-entry .content .description {
                font-size: 0.8rem;
                color: var(--font-2);
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                text-overflow: ellipsis;
                overflow: hidden;
            }

/* MAIN SECTION */

main {
    width: 100%;
    color: var(--font-1);
    /* padding-top: 80px; */
    position: relative;
}

main .featured-scroller {
    display: block;
    height: 100%;
    width: 100%;
    padding-bottom: 35px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

main button.featured-scrolling-buttons {
    display: block; /* turning block */
    opacity: 0;
    color: var(--font-2);
    font-size: 2.2rem;
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 250px;
    z-index: 7;
    cursor: pointer;
    transition: 0.3s ease-out;
}

main button.featured-scrolling-buttons.show-buttons {
    display: block;
}

main button.featured-scrolling-buttons.left {
    left: 10px;
}

main button.featured-scrolling-buttons.right {
    right: 10px;
}

main button.featured-scrolling-buttons:hover {
    transform: scale(1.40);
}

main .featured-scroller .featured-scroller-wrapper {
    display: flex;
    align-content: flex-start;
    height: 100%;
}

main .featured {
    position: relative;
    width: 100%;
    scroll-snap-align: center;
}

main .featured .featured-container {
    display: flex;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(0.25turn, var(--color-dark-opacity), transparent);
}

main .featured .featured-container .featured-left{
    height: 100%;
    margin-left: 50px;
    width: 40%;
    z-index: 3;
    background-color: var(--color-dark-opacity);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}

    main .featured .featured-container .content {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        height: 100%;
        padding-left: 50px;
        font-weight: var(--font-weight);
    }
    
    main .featured .anime-title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 3rem;
        line-height: 55px;
    }

    main .featured .anime-info {
        display: flex;
        gap: 20px;
    }

    main .featured .anime-info,
    main .featured .anime-genres {
        color: var(--font-1);
    }
    
    main .featured .anime-description {
        color: var(--font-2);
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    main .featured button {
        font-size: 1.1rem;
        font-weight: var(--font-weight);
        color: var(--color-1);
        background-color: var(--font-1);
        width: 180px;
        height: 50px;
        border-radius: var(--border-radius);
        border: none;
        outline: none;
        cursor: pointer;
        transition: var(--transition);
    }

    main .featured button:hover {
        filter: brightness(0.80);
    }

    main .featured button:active {
        filter: brightness(0.70);
    }
    
main .featured .featured-container .featured-shadow {
    width: 10%;
    z-index: 4;
    background: linear-gradient(0.25turn, var(--color-dark-opacity), transparent);
}

main .featured .featured-container .featured-right{
    width: 50%;
    margin-right: 50px;
    z-index: 3;
    background-color: transparent;
}

main .featured .featured-img {
    height: 382px;
    object-fit: cover;
    /* padding: 0 50px; */
    -webkit-box-shadow: inset 0px -26px 40px -15px #000000; 
    box-shadow: inset 0px -26px 40px -15px #000000;
}

main .featured .featured-img img {
    width: 100%;
    height: 382px;
    aspect-ratio: 4.744 / 1;
    object-fit: cover;
    -webkit-box-shadow: inset 0px -26px 40px -15px #000000; 
    box-shadow: inset 0px -26px 40px -15px #000000; 
    /* object-position: 0% 50%; */
    /* border-radius: var(--border-radius); */
    /* box-shadow: var(--shadow); */
}

/* main .section-container {
    padding: 0px 50px;
} */

.anime-page {
    position: relative;
    width: 1800px;
    height: 800px;
    border-radius: var(--border-radius);
    color: var(--font-1);
    background: var(--main-bg);
    display: flex;
    flex-direction: column;
}
    .anime-page #page-anime-loader {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 21;
    }

    .anime-page .content-wrapper {
        width: 100%;
        height: 100%;
        align-items: center;
    }
    
    .anime-page .content {
        width: 100%;
        height: max-content;
        display: flex;
        margin: 30px;
    }

    .anime-page .content .page-anime-left {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .anime-page .content .page-anime-left h4 {
        font-weight: var(--font-weight);
        color: var(--font-2);
    }

    .anime-page .content .page-anime-left h3 {
        color: var(--font-1);
    }
    
    .anime-page .content .page-anime-left img#page-anime-cover {
        width: 300px;
        height: 450px;
        object-fit: cover;
        border-radius: var(--border-radius);
        box-shadow: var(--shadow);
    }

    .anime-page .content .page-anime-left #page-anime-progress-episodes {
        width: 100%;
        height: 10px;
        position: relative;
        margin-top: 8px;
    }

    #page-anime-progress-episodes .bar,
    #page-anime-progress-episodes .progress-bar {
        margin: 0;
    }
    
    #page-anime-progress-episodes .bar {
        width: 100%;
        background-color: var(--color-1);
    }

    #page-anime-progress-episodes .progress-bar {
        background-color: var(--font-1);
    }
    
    .anime-page .content .page-anime-left #page-anime-user-score i {
        color: var(--font-1);
    }
    
    .anime-page .content .page-anime-right {
        width: calc(100% - 60px);
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 0 30px;
    }

        .anime-page .content .page-anime-right #page-anime-info-section {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: column;
            gap: 10px;
        }
        
        .anime-page .content .page-anime-right #page-anime-watch-section {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
        }

            .anime-page .content .page-anime-right #page-anime-watch-section .episodes-list-header {
                width: 100%;
                display: flex;
                align-items: center;
            }

        .anime-page .content .page-anime-right .anime-title {
            font-size: 3rem;
            font-weight: var(--font-weight);
        }

        .anime-page .content .page-anime-right .anime-title h2 {
            width: fit-content;
        }

        .anime-page .content .page-anime-right .anime-title span{
            color: var(--font-2);
        }

        .anime-page .content .page-anime-right .anime-description {
            color: var(--font-2);
            font-size: 1.2rem;
        }

        .anime-page .content .page-anime-right .anime-infos {
            color: var(--font-2);
            font-size: 1.2rem;
            display: flex;
            gap: 20px;
        }

        .anime-page .content .page-anime-right ul.anime-genres {
            margin: 10px 0;
            padding-left: 0;
        }

        .anime-page .content .page-anime-right ul.anime-genres li {
            display: inline;
            background-color: var(--color-dark-opacity);
            color: var(--font-2);
            font-size: 1.2rem;
            font-weight: var(--font-weight);
            margin-right: 8px;
            padding: 8px 15px;
            border: 2px solid var(--font-2);
            border-radius: var(--border-radius);
            /* box-shadow: var(--shadow); */
        }

        .anime-page .content .page-anime-right .user-stats {
            display: flex;
            gap: 20px;
        }

        .anime-page .content .page-anime-right .user-stats button {
            outline: none;
            border: 2px solid var(--font-1);
            border-radius: var(--border-radius);
            width: max-content;
            font-size: 1.2rem;
            font-weight: 500;
            text-transform: uppercase;
            margin: 20px 0;
            padding: 15px 30px;
            transition: var(--transition);
            cursor: pointer;
        }

        
        .anime-page .content .page-anime-right .user-stats button.watch {
            color: var(--color-1);
            background-color: var(--font-1);
        }

        .anime-page .content .page-anime-right .user-stats button.watch:hover,
        .anime-page .content .page-anime-right .user-stats button.list-editor.in-list:hover {
            filter: brightness(0.70);
        }

        .anime-page .content .page-anime-right .user-stats button.watch:active,
        .anime-page .content .page-anime-right .user-stats button.list-editor.in-list:active {
            filter: brightness(0.60);
        }
        
        .anime-page .content .page-anime-right .user-stats button.trailer {
            color: var(--font-1);
            background-color: var(--color-0);
        }

        .anime-page .content .page-anime-right .user-stats button.list-editor {
            width: 59px;
            height: 59px;
            color: var(--font-1);
            background-color: var(--color-0);
            padding: 15px;
            border-radius: 200px;
        }

        .anime-page .content .page-anime-right .user-stats button.list-editor:hover {
            color: var(--color-0);
                background-color: var(--font-1);
            }
            
            .anime-page .content .page-anime-right .user-stats button.list-editor.in-list {
                color: var(--color-0);
                background-color: var(--font-1);
            }

    .page-anime-right-scroller {
        width: 100%;
        height: 750px;
        margin-right: 30px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .anime-page .content .page-anime-right .episodes-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 25%);
        height: max-content;
    }
    
    .anime-page .content .page-anime-right .episodes-list .episode {
        background-position: center center;
        background-size: cover;
        border-radius: var(--border-radius);
        height: 100px;
        margin: 10px;
        cursor: pointer;
        transition: var(--transition);
        box-shadow: var(--shadow);
    }

    .anime-page .content .page-anime-right .episodes-list .episode:hover {
        transform: scale(1.05);
    }
    
    .anime-page .content .page-anime-right .episodes-list .episode:active {
        transform: scale(1);
    }

    .anime-page .content .page-anime-right .episodes-list .episode .content {
        width: 100%;
        height: 100%;
        margin: 0;
        border-radius: var(--border-radius);
        background-color: var(--color-dark-opacity);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .anime-page button#exit {
        position: absolute;
        top: -25px;
        right: -25px;
        margin: 10px;
        color: var(--font-1);
        font-size: 2rem;
        font-weight: var(--font-weight);
        cursor: pointer;
        background-color: transparent;
        border: none;
        outline: none;
        transition: var(--transition);
        z-index: 22;
    }

    .anime-page button#exit:hover {
        color: var(--color-important);
    }

/* ADD ANIME TO LIST MODAL PAGE */

#list-editor-page-shadow-background {
    z-index: 20;
}

.list-editor-page {
    position: relative;
    border-radius: var(--border-radius);
    background: var(--color-2);
    background: var(--main-bg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

    .list-editor-page .content-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 30px;
    }
    
        .list-editor-page .content {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .list-editor-page .content h1 {
            font-size: 2rem;
            color: var(--font-1);
        }

        .list-editor-page .content .input-divisor {
            width: 300px;
            display: flex;
            gap: 20px;
        }

        .list-editor-page .content .input-divisor .input-container {
            width: 50%;
        }
        
        .list-editor-page .content .input-container .in-out-container {
            position: relative;
            width: 100%;
        }

        .list-editor-page .content .input-container {
            width: 256px;
            padding: 20px;
            display: flex;
            gap: 20px;
            align-items: center;
            color: var(--font-2);
            font-size: 1.2rem;
            border: 2px solid var(--font-2);
            border-radius: var(--border-radius);
        }

        .list-editor-page .content .input-container .in-out-container:hover output,
        .list-editor-page .content .input-container .in-out-container:active output {
            display: flex;
        }

        .list-editor-page .content .input-container output {
            display: none; /* turning flex */
            position: absolute;
            justify-content: center;
            align-items: center;
            width: 40px;
            top: -35px;
            margin-left: -15px;
            background-color: var(--color-1);
            border: 2px solid var(--color-2);
            border-radius: var(--border-radius);
        }
        
        .list-editor-page .content .input-divisor button.list-editor-button {
            width: 50%;
            height: 50px;
            border: none;
            outline: none;
            color: var(--color-1);
            background-color: var(--font-1);
            font-size: 1.2rem;
            font-weight: var(--font-weight);
            border-radius: var(--border-radius);
            cursor: pointer;
            transition: var(--transition);
        }
    
        .list-editor-page .content .input-divisor button.list-editor-button:hover {
            filter: brightness(0.80);
        }
    
        .list-editor-page .content .input-divisor button.list-editor-button:active {
            filter: brightness(0.70);
        }

        .list-editor-page .content .input-container select,
        .list-editor-page .content .input-container input {
            width: 100%;
            color: var(--font-2);
            font-size: 1.2rem;
            outline: none;
            border: none;
            background-color: transparent;
        }
        
        .list-editor-page .content .input-container input {
            accent-color: var(--color-important);
        }

        #list-editor-progress-limit,
        #list-editor-score-limit {
            display: none;
            /* margin-left: auto; */
        }

    .list-editor-page button#exit {
    position: absolute;
    top: -25px;
    right: -25px;
    margin: 10px;
    color: var(--font-1);
    font-size: 2rem;
    font-weight: var(--font-weight);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    transition: var(--transition);
    }

    .list-editor-page button#exit:hover {
    color: var(--color-important);
    }

main section {
    position: relative;
    /* margin-top: 40px; */
}

    main section h1 {
        color: var(--font-2);
        font-weight: 800;
        font-size: 1.6rem;
        margin-bottom: 15px;
        padding-left: 50px;
    }

    main section .anime-list-scroller {
        position: absolute;
        top: 44%;
        opacity: 0;
        display: flex; /* turning flex */
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        background-color: var(--color-dark-opacity);
        /* background-color: transparent; */
        border-radius: 100px;
        z-index: 30;
        cursor: pointer;
    }

        main section .anime-list-scroller:hover {
            transform: scale(1.05);
        }

        main section .anime-list-scroller:active {
            transform: scale(1);
            filter: brightness(0.80);
        }

        main section .anime-list-scroller.left {
            left: 40px
        }
        
        main section .anime-list-scroller.right {
            right: 30px
        }

        main section .anime-list-scroller i {
            font-size: 1.6rem;
            color: var(--font-1);
        }
    
main section .anime-list-wrapper {
    position: relative;
    width: calc(100% - 100px);
    overflow: hidden;
    scroll-snap-type: x mandatory; /* disable if drag n scroll is enabled */
    scroll-behavior: smooth; /* disable if drag n scroll is enabled */
    margin-bottom: 20px;
    padding: 0 50px;
}

    main section .anime-list {
        float: left;
        width: max-content;
        /* gap: 10px; */
        display: flex;
        flex-direction: row;
        padding-bottom: 10px; /* othewise titles will be cut */
    }
    
        main section .anime-list .anime-entry {
            width: 212px;
            height: min-content;
            position: relative;
            border-radius: var(--border-radius);
            padding-top: 10px; /* must be in anime-entry or hover scaling won't work */
            z-index: 2;
            cursor: pointer;
            transition: 0.2s ease-out;
        }
        
        main section .anime-list .anime-entry:not(:last-child) {
            padding-right: 20px;
        }
        
        main section .anime-list .anime-entry:hover:not(.disabled) {
            transform: scale(1.05);
        }
        
        main section .anime-list .anime-entry .content {
            margin-top: 10px;
            width: 100%;
            height: 50%;
            bottom: 0;
            margin-bottom: 2px;
            border-radius: 0 0 var(--border-radius) var(--border-radius);
            z-index: 3;
        }

        main section .anime-list .anime-entry .anime-cover {
            width: 212px;
            height: 300px;
            position: relative;
            object-fit: cover;
        }
        
        main section .anime-list .anime-entry .anime-cover img {
            width: 100%;
            height: 100%;
        }
        
        main section .anime-list .anime-entry.disabled {
            border: 3px dashed var(--color-3);
            color: var(--color-3);
            font-weight: var(--font-weight);
            border-radius: var(--border-radius);
            cursor: auto;
        }

        main section .anime-list .anime-entry .anime-cover.disabled {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        main section .anime-list .anime-entry .anime-cover img {
            object-fit: cover;
            border-radius: var(--border-radius);
            /* box-shadow: var(--shadow); */
        }

        main section .anime-list .anime-entry .anime-cover .anime-cover-shadow {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: inset 0px -50px 18px -22px #00000093;
        }
        
        .bar {
            width: calc(100% - 20px);
            height: 7px;
            margin: 10px;
            bottom: 0;
            position: absolute;
            background-color: var(--color-dark-opacity);
            border-radius: var(--border-radius);
        }
        
        .progress-bar {
            height: 100%;
            background-color: var(--color-important);
            border-radius: var(--border-radius);
        }
        
        main section .anime-list .anime-entry .anime-title {
            color: var(--font-1);
            font-weight: var(--font-weight);
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            overflow: hidden;
            /* white-space: nowrap; */
            font-size: 1rem;
        }

        main section .anime-list .anime-entry .anime-progress {
            color: var(--font-2);
            font-size: 1rem;
            font-weight: var(--font-weight);
        }
        
main#my-list-page h1#your-list-header {
    font-size: 3rem;
    padding-left: 50px;
}

main#my-list-page .section-container {
    margin-top: 50px;
}
