@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900;9..40,1000&display=swap');

:root {
  --color-0: #0f1115;
  --color-1: #1a1d24;
  --color-1b: #1a1d24ea;
  --color-2: #22252e;
  --color-3: #2c2e3a;
  --color-4: #32333f;
  --color-important: #ff456d;
  /* #ffc4c9 */
  --color-dark-opacity: rgba(0, 0, 0, 0.6);
  --color-warning: #ff5454;
  --color-alert: #e5a639;
  --color-success: #45ad67;
  --color-info: #3fa0d0;

  --font-1: #f1f2f6;
  --font-2: #bec0cc;
  --font-3: #89919a;
  /* --font-4: rgb(87, 87, 87); */
  --font-3-transparent: rgba(168, 168, 168, 0.5);

  --font-weight: 600;
  --border-radius: 12px;
  /* --border-radius: 8px; */
  --transition: 0.2s ease;
  --shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --shadow-cover: black 0px 30px 20px -20px;

  --height-window-controls: 25px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--color-2);
  border: 2px solid transparent;
  background-clip: content-box;
  transition: var(--transition);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-3);
}

::-webkit-scrollbar-thumb:active {
  background-color: #c83656;
}

* {
  margin: 0;
  font-family: 'DM Sans', sans-serif;
  /* font-size: 16px; */

  /* everything unselectable */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* z-index: 1; */
}

#root {
  height: 100%;
}

html,
body {
  background: var(--color-1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  border-radius: 5px;
}

.main-container.lifted {
  padding-bottom: 120px;
}

img {
  display: block;
  font-style: italic;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.draggable-section {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 28px;
  background-color: transparent;
}

.body-container {
  width: 100%;
  height: 100%;
  z-index: 20;
  overflow-x: hidden;
  overflow-y: auto;

  /* window controls */
  padding-top: 22px;
  /* margin-bottom: 200px; */
}

.auto-update-page {
  position: relative;
  width: 450px;
  height: 600px;
  border-radius: var(--border-radius);
  background: var(--color-1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.auto-update-page .content-wrapper {
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  display: flex;
  justify-content: center;
  padding: 30px;
}

.auto-update-page .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auto-update-page .content h1 {
  color: var(--font-1);
  text-align: center;
}

.auto-update-page .content h2#auto-update-date {
  font-size: 0.9rem;
  font-weight: var(--font-weight);
}

.auto-update-page .content h2 {
  color: var(--font-3);
  text-align: center;
}

.auto-update-page .content h3#auto-update-megabytes {
  color: var(--font-3);
  text-align: center;
}

.auto-update-page .content .notes {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auto-update-page .content .notes #auto-update-notes {
  width: 340px;
  height: 340px;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
  color: var(--font-3);
  background-color: var(--color-0);
  border-radius: var(--border-radius);
}

.auto-update-page .content .bar {
  width: 100%;
  margin: 0;
  position: static;
  margin: 10px 0;
  background-color: var(--color-0);
}

.auto-update-page .content .progress-bar {
  width: 0%;
  background-color: var(--color-important);
}

.auto-update-page .content .buttons {
  width: 100%;
  height: 60px;
  display: flex;
  gap: 30px;
}

.auto-update-page .content .buttons button {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: var(--font-1);
  background-color: var(--color-0);
  font-size: 1.2rem;
  font-weight: var(--font-weight);
  border-radius: var(--border-radius);
  /* cursor: pointer; */
  transition: var(--transition);
}

.auto-update-page .content .buttons button#auto-update-download {
  color: var(--color-success);
}

.auto-update-page .content .buttons button:hover {
  filter: brightness(0.8);
}

.auto-update-page .content .buttons button:active {
  filter: brightness(0.7);
}

/* MAIN SECTION */

.main-container {
  /* width: calc(100% - 50px);
    height: calc(100% - 50px); */
  position: relative;
  width: calc(100% - 90px);
  min-height: calc(100% - 85px);
  margin: 0 0px 15px 15px;
  margin: 0;
  background-color: var(--color-1);
  border-radius: var(--border-radius);
  padding: 25px 45px;
}

.main-container .footer {
  position: absolute;
  bottom: 0;
  right: 45px;
  color: var(--font-3);
  font-size: 1rem;
  font-weight: bold;
}

main {
  color: var(--font-1);
  /* padding-top: 80px; */
  position: relative;
}

/* .option {
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.option:hover {
  background-color: #f0f0f0;
}

.option.selected {
  background-color: #007bff;
  color: #fff;
} */

section {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

section.hide-section {
  display: none;
}

section:not(:last-child) {
  margin-bottom: 15px;
}

h1 {
  color: var(--font-1);
  font-weight: 800;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

section .scrollers {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  z-index: 30;
}

main.search {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

main .filters-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

main .filters-container .filter {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* flex-basis: 100%; */
  color: var(--font-3);
  transition: var(--transition);
}

main .filters-container .filter .filter-divisor {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main .filters-container .filter.active,
main .filters-container .filter:hover,
main .filters-container .filter:focus {
  color: var(--font-2);
}

main .filters-container .filter input,
main .filters-container .filter select {
  border: none;
  outline: none;
  height: 30px;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: var(--font-weight);
  background-color: var(--color-2);
  border-radius: var(--border-radius);
  transition: 0.1s ease-out;
  will-change: transform;
}

main .filters-container .filter input:hover,
main .filters-container .filter select:hover {
  transform: scale(1.1);
}

main .filters-container .filter input::placeholder {
  color: var(--font-3);
}

main .filters-container .filter input {
  color: var(--font-1);
}

main .filters-container .filter select {
  color: var(--font-3);
}

main .filters-container .filter select.active {
  color: var(--font-1);
}

main .filters-container .filter .i {
  margin-right: 5px;
}

main .filters-container .filter h2 {
  color: var(--font-2);
  font-size: 1.4rem;
}

main .search-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

main .filters-container .buttons {
  display: flex;
  gap: 10px;
  height: 35px;
}

main .search-buttons-container .search-tags {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--font-3);
}

main .search-buttons-container .search-tags .tags-container {
  display: flex;
  gap: 10px;
}

main .search-buttons-container .search-tags .tags-container .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: var(--color-3);
  border-radius: var(--border-radius);
  font-weight: var(--font-weight);
}

main button#search-submit {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 1.1rem;
  font-weight: var(--font-weight);
  color: var(--color-0);
  background-color: var(--color-important);
  border-radius: var(--border-radius);
}

main button#search-clear {
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
  font-size: 1.1rem;
  font-weight: var(--font-weight);
  color: var(--font-3);
  background-color: var(--color-3);
  border-radius: var(--border-radius);
}

main button#search-submit:hover,
main button#search-clear:hover {
  filter: brightness(0.9);
}

main button#search-submit:active,
main button#search-clear:active {
  filter: brightness(0.8);
}

main .entries-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, max-content));
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

main .entries-container .activity-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
}

main .entries-container .anime-entry {
  margin-bottom: 20px;
}

.settings-page {
  position: relative;
  width: 1000px;
  height: 600px;
  border-radius: var(--border-radius);
  background: var(--color-1);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
}

.settings-page .content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 30px;
}

.settings-page .content {
  width: 100%;
  height: 100%;
  display: flex;
}

.settings-page .content .left {
  width: 20%;
  height: 100%;
  border-right: 2px solid var(--color-3);
}

.settings-page .content .left ul {
  padding-left: 0px;
  text-decoration: none;
  padding-right: 30px;
}

.settings-page .content .left ul li {
  list-style-type: none;
  color: var(--font-3);
  font-size: 1.1rem;
  padding: 13px 20px;
  margin-bottom: 10px;
  /* cursor: pointer; */
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.settings-page .content .left ul li.active {
  color: var(--font-1);
  background-color: var(--color-3);
}

.settings-page .content .left ul li:hover {
  color: var(--font-1);
  background-color: var(--color-3);
}

.settings-page {
  width: 100%;
  height: 100%;
}

.settings-page .toggler {
  display: flex;
  align-items: center;
  /* padding: 10px 20px; */
  padding: 0 20px;
  min-height: 52px;
  color: var(--font-1);
  background-color: var(--color-3);
  margin-bottom: 15px;
  border-radius: var(--border-radius);
}

.settings-page .toggler label {
  margin-left: auto;
}

.settings-page form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-page form p {
  color: var(--font-1);
}

.settings-page form .form-element {
  display: flex;
  align-items: center;
  gap: 20px;
}

.settings-page img {
  width: 75px;
}

.settings-page button#exit {
  position: absolute;
  top: -25px;
  right: -25px;
  margin: 10px;
  color: var(--font-1);
  font-size: 2rem;
  font-weight: var(--font-weight);
  /* cursor: pointer; */
  background-color: transparent;
  border: none;
  outline: none;
  transition: var(--transition);
  z-index: 50;
}

.settings-page button#exit:hover {
  color: var(--color-important);
}

.settings-page button#exit:active {
  filter: brightness(0.9);
}
