@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --color-1: #141414;
    --color-1-rgba: #141414dc;
    --color-2: rgb(39, 51, 68);
    --font-1: #F8CDC9;
    --font-2: #DCE2EA;
    --font-3: #505b6b;
    
    --font-weight: 600;
    --border-radius: 10px;
    --transition: 0.1s ease-out;
}

* {
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Quicksand', sans-serif;

    /* everything unselectable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

html,
body {
    background-color: var(--color-1);
    width: 100%;
    height: 100%;
}

#login-page {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 100%;
    background-color: var(--color-1);
}

    #login-page img {
        width: 500px;
    }

    #login-page button#login-button {
        font-size: 1.6rem;
        font-weight: var(--font-weight);
        color: var(--font-2);
        width: 200px;
        height: 60px;
        background-color: var(--color-2);
        border-radius: var(--border-radius);
        border: none;
        outline: none;
        cursor: pointer;
        transition: 0.1s ease-out;
    }

    #login-page button#login-button:hover {
        transform: scale(1.1);
    }

    #login-page button#login-button:active {
        transform: scale(1.05);
        filter: brightness(0.7);
    }

nav#nav-main {
    margin: auto;
    z-index: 1;
    width: 1000px;
    height: 75px;
    display: flex;
    padding: 0 30px;
    background-color: var(transparent);
}

nav#nav-main ul {
    display: flex;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

nav#nav-main ul li {
    font-size: 1.3rem;
    display: inline;
    color: var(--font-2);
    font-weight: var(--font-weight);
    padding: 10px 20px;
    cursor: pointer;
}

nav .search-bar-wrapper-wrapper {
    display: flex;
    align-items: center;
}

nav .search-bar-wrapper-wrapper .search-bar-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--color-1);
    color: var(--font-3);
    font-size: 1.2rem;
    font-weight: var(--font-weight);
    border-radius: var(--border-radius);
    width: 300px;
    height: 40px;
    padding-left: 15px;
}

nav .search-bar-wrapper-wrapper .search-bar-wrapper input.search-bar {
    font-size: 1.2rem;
    color: var(--font-2);
    font-weight: var(--font-weight);
    width: 100%;
    height: 100%;
    padding-left: 15px;
    background-color: transparent;
    border: none;
    outline: none;
}

nav .search-bar-wrapper-wrapper .search-bar-wrapper input.search-bar::placeholder {
    color: var(--font-3);
}

nav .user-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    height: 100%;
}

nav .user-icon img {
    width: 40px;
    border-radius: var(--border-radius);
}

/* MAIN SECTION */

main {
    color: var(--font-2);
    width: 100%;
    height: 100%; /* da levare */
}

main .featured {
    position: relative;
}

main .featured .featured-container {
    display: flex;
    z-index: 0;
    width: 100%; 
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

main .featured .featured-container .featured-left{
    width: 30%;
    z-index: 3;
    background-color: var(--color-1-rgba);
}

    main .featured .featured-container .featured-left .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        height: 100%;
        padding-left: 100px;
    }
    
    main .featured .anime-title {
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 3rem;
        font-weight: var(--font-weight);
        line-height: 45px;
    }

    main .featured .anime-info {
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
    }

main .featured .featured-container .featured-shadow {
    width: 10%;
    z-index: 4;
    background: linear-gradient(0.25turn, var(--color-1-rgba), transparent);
}

main .featured .featured-container .featured-right{
    width: 60%;
    z-index: 3;
    background-color: transparent;
}

main .featured .featured-img {
    padding: 0 50px;
}

main .featured .featured-img img {
    width: 100%;
    object-fit: cover;
    object-position: 0% 50%; /* try 20px 10px */ 
    border-radius: var(--border-radius);
}

main .section-container {
    padding: 0px 50px;
}

main section {
    margin-top: 40px;
}

main section .anime-page-wrapper {
    display: none; /* flex */
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main section .anime-page-wrapper .anime-page {
    width: 1500px;
    height: 850px;
    margin: 300px;
    border-radius: var(--border-radius);
}

main section h1 {
    font-weight: var(--font-weight);
    font-size: 1.3rem;
    margin-bottom: 15px;
}

main section .anime-list  {
    gap: 20px;
}

main section .anime-list .anime-entry {
    width: 158px;
    display: inline-block;
    border-radius: var(--border-radius);
    z-index: 2;
    cursor: pointer;
    transition: 0.2s ease-out;
}
  
main section .anime-list .anime-entry:not(:last-child) {
    margin-right: 20px;
}

main section .anime-list .anime-entry img.anime-cover {
    height: 224px;
    border-radius: var(--border-radius);
}

main section .anime-list .anime-entry .anime-title {
    color: var(--font-2);
    font-weight: var(--font-weight);
    padding-top: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
}

main section .anime-list .anime-entry .anime-progress {
    color: var(--font-3);
    font-size: 1rem;
    font-weight: var(--font-weight);
}