.anime-page {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 45px 0 25px 0;
  color: var(--font-1);
  overflow-x: hidden;
  overflow-y: scroll;
}

.anime-page .watch-buttons {
  position: absolute;
  bottom: 40px;
  left: 25px;
  display: flex;
  gap: 10px;
  z-index: 4;
}

.anime-page .content-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 1000px;
  height: max-content;
  margin: 25px 0;
  background: var(--color-1);
  border-radius: var(--border-radius);
}

.anime-page .up {
  position: relative;
  height: 40vh;
  width: 100%;
}

.anime-page .up::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
  box-shadow: inset 0px -40px 20px -15px var(--color-1);
}

.anime-page .banner-wrapper {
  height: 100%;
  position: relative;
  /* aspect-ratio: 16/9; */
  object-fit: cover;
}

.anime-page .trailer-wrapper {
  width: 100%;
  height: 40vh;
  position: absolute;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
  /* aspect-ratio: 16/9; */
  border-radius: var(--border-radius);
  /* pointer-events: none; */
}

.anime-page .trailer-volume {
  position: absolute;
  bottom: 40px;
  right: 25px;
  display: flex;
  z-index: 4;
}

.anime-page .banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  border-radius: var(--border-radius);
}

.anime-page .trailer {
  width: 100%;
  /* Per riempire orizzontalmente il contenitore */
  height: 100%;
  /* Per riempire verticalmente il contenitore */
  object-fit: cover;
  /* Per adattare e ritagliare il video nel contenitore */
  position: absolute;
  /* Per posizionare il video all'interno del contenitore */
  top: 0;
  /* Per posizionare il video all'angolo superiore sinistro del contenitore */
  left: 0;
  border-radius: var(--border-radius);
}

.anime-page .content-wrapper .content {
  display: flex;
  gap: 10px;
  width: calc(100% - 50px);
  margin: 0 25px 25px 25px;
  border-radius: var(--border-radius);
}

.anime-page .content .left {
  width: 65%;
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
}

.anime-page #page-anime-cover {
  width: 15%;
  /* transform: translateY(-100px); */
  border-radius: var(--border-radius);
}

.anime-page .content-wrapper .content .title {
  color: var(--font-1);
  line-height: 46px;
  font-size: 2.8rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.anime-page ul.info {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
  padding-left: 0;
  color: var(--font-3);
  font-size: 1.1rem;
  font-weight: 500;
}

.anime-page ul.info li {
  list-style-type: none
}

.anime-page .description {
  color: var(--font-2);
  word-spacing: 1.5px;
  line-height: 22px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* this way cropped text can go back to normal by togglin .cropped */
.anime-page .description.cropped {
  -webkit-line-clamp: 8;
}

.anime-page .show-more {
  display: none;
  color: var(--font-3);
  font-weight: var(--font-weight);
  margin: auto;
  margin-top: 5px;
  /* cursor: pointer; */
  transition: var(--transition);
}

.anime-page .show-more.show-element {
  display: block;
}

.anime-page .show-more:hover {
  color: var(--font-2);
}

.anime-page .content .right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 35%;
  /* margin-top: 35px; */
}

.anime-page .content .additional-info {
  font-size: 1rem;
  color: var(--font-3);
  line-height: 24px;
}

.anime-page .content .additional-info span {
  color: var(--font-2);
}

.anime-page .episodes-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%
}

.anime-page .episodes-section .episodes-scroller {
  overflow: hidden;
  width: 100%;
  /* margin-bottom: 25px; */
}

.anime-page .episodes-section .episodes-options {
  display: flex;
  position: relative;
  width: calc(100% - 50px);
  margin: 0 25px 10px 25px;
  z-index: 10;
}

.anime-page .episodes-section .episodes-options .right {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.anime-page .episodes-section .episodes-options .right .search-bar {
  padding: 6px 0px 6px 8px;
  background-color: var(--color-3);
  border-radius: var(--border-radius);
}

.anime-page .episodes-section .episodes-options .right .search-bar .i-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.anime-page .episodes-section .episodes-options .right .search-bar .wrapper {
  align-items: center;
  display: flex
}

.anime-page .episodes-section .episodes-options .right .search-bar .i-wrapper .i {
  color: var(--font-2);
}

.anime-page .episodes-section .episodes-options .right .search-bar input {
  width: 30px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: var(--font-weight);
  color: var(--font-2);
  transition: var(--transition);
}


.anime-page .episodes-section .episodes-options h2 {
  font-size: 1.6rem;
}

.anime-page .episodes-section .episodes-options select {
  margin-left: auto;
  font-family: sans-serif;
}

.anime-page .episodes-section .episodes-options select option {
  font-family: sans-serif;
}

.anime-page .episodes-section .episodes {
  display: flex;
  /* turning flex */
  flex-direction: column;
  /* gap: 25px; */
}

.anime-page .episodes-section .episodes.show {
  display: flex;
}

.anime-page .episodes-section .episode-entry {
  position: relative;
  opacity: 1;
  display: flex;
  gap: 25px;
  height: 175px;
  margin: 0 15px;
  padding: 10px;
  aspect-ratio: 1.78 / 1;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: var(--transition);
  /* will-change: transform; */
}

.anime-page .episodes-section .episode-entry:hover {
  transform: scale(1.027);
  background-color: var(--color-2);
}

.anime-page .episodes-section .episodes:hover> :not(:hover) {
  opacity: 0.5;
}

.anime-page .episodes-section .episode-entry:active {
  transform: scale(1);
  background-color: var(--color-3);
}

.anime-page .episodes-section .episode-entry .image {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 311.5px;
  height: 100%;
  aspect-ratio: 1.78 / 1;
  border-radius: var(--border-radius);
}

.anime-page .episodes-section .episode-entry .image .i {
  position: absolute;
  opacity: 0;
  font-size: 4rem;
  color: var(--font-1);
  /* left: 42%; */
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  transition: var(--transition);
}

.anime-page .episodes-section .episode-entry img {
  min-width: 311.5px;
  height: 100%;
  aspect-ratio: 1.78 / 1;
  object-fit: cover;
  background-color: var(--color-0);
  border-radius: var(--border-radius);
  transition: var(--transition);
}

/* .anime-page .episodes-section .episode-entry .progress-bar {
  position: absolute;
  background-color: var(--color-important);
  bottom: 0.3px;
  margin-left: 0.5px;
  max-width: 311px;
  height: 7.5px;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  transition: var(--transition);
}

.anime-page .episodes-section .episode-entry .progress-bar.full-width {
  width: 100%;
}

.anime-page .episodes-section .episode-entry .progress-bar.partial-width {
  border-radius: 0 var(--border-radius) var(--border-radius) var(--border-radius);
} */

.anime-page .episodes-section .episode-entry .episode-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-radius);
}

.anime-page .episodes-section .episode-entry .episode-content .title {
  margin-bottom: 0;
  color: var(--font-1);
  font-size: 1.2rem;
  font-weight: var(--font-weight);
}

.anime-page .episodes-section .episode-entry .episode-content .title span {
  color: var(--font-3);
}

.anime-page .episodes-section .episode-entry .episode-content .info {
  display: flex;
  gap: 20px;
  color: var(--font-3);
  font-size: 1rem;
  font-weight: var(--font-weight);
}

.anime-page .episodes-section .episode-entry .episode-content .description {
  color: var(--font-2);
  font-size: 1rem;
  font-weight: var(--font-weight);
  line-height: 21px;

  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.anime-page button.exit {
  position: fixed;
  top: 25px;
  right: 25px;
  margin: 10px;
  color: var(--font-2);
  font-size: 2rem;
  /* cursor: pointer; */
  background-color: transparent;
  border: none;
  outline: none;
  transition: var(--transition);
  z-index: 22;
}

.anime-page button.exit:hover {
  color: var(--font-1);
}
