.modal-page-wrapper .user-modal-content .log-out-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}

.watch-party-wrapper{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.watch-party-create{
  position: relative;
  margin-top: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
}
.watch-party-create input{
  background-color: var(--color-3);
  border: 1px solid var(--color-important);
  height: 35px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.watch-party-create button{
  position: absolute;
  right: -6px;
  top: 1px;
  height: 33px;
  width: 50px;
  background-color: var(--color-important);
  border: none;
  box-shadow: none;
  transition: 0.2s ease-in-out all;
  border-radius: 5px;
}
.watch-party-create button:hover{
  color: white;
  transition: 0.2s ease-in-out all;
}

.watch-party-join{
  position: relative;
}
.watch-party-join input{
  background-color: var(--color-3);
  border: 1px solid var(--color-important);
  height: 35px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.watch-party-join button{
  position: absolute;
  right: -6px;
  top: 1px;
  height: 33px;
  width: 50px;
  background-color: var(--color-important);
  border: none;
  box-shadow: none;
  transition: 0.2s ease-in-out all;
  border-radius: 5px;
}
.watch-party-join button:hover{
  color: white;
  transition: 0.2s ease-in-out all;
}