@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 20.00% 8.82%;
    --foreground: 0 0% 98%;
    --card: 220 17.65% 13.33%;
    --card-foreground: 0 0% 98%;
    --popover: 220 20.00% 8.82%;
    --popover-foreground: 0 0% 98%;
    --primary: 347.10 100% 63.53%;
    --primary-foreground: 0 0% 0%;
    --secondary: 220 20.00% 8.82%;
    --secondary-foreground: 0 0% 98%;
    --muted: 221.25 16.00% 19.61%;
    --muted-foreground: 240 5% 64.90%;
    --accent: 220 20.00% 8.82%;
    --accent-foreground: 0 0% 98%;
    --destructive: 353.38 70.05% 59.41%;
    --destructive-foreground: 0 0% 0%;
    --border: 220 17.65% 13.33%;
    --input: 221.25 16.00% 19.61%;
    --ring: 240 4.90% 83.90%;
    --chart-1: 127.92 55.21% 62.35%;
    --chart-2: 127.92 55.21% 62.35%;
    --chart-3: 127.92 55.21% 62.35%;
    --chart-4: 127.92 55.21% 62.35%;
    --chart-5: 127.92 55.21% 62.35%;
    --sidebar: 240 5.90% 10%;
    --sidebar-foreground: 240 4.80% 95.90%;
    --sidebar-primary: 224.30 76.30% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.70% 15.90%;
    --sidebar-accent-foreground: 240 4.80% 95.90%;
    --sidebar-border: 240 3.70% 15.90%;
    --sidebar-ring: 240 4.90% 83.90%;
    --font-sans: Inter, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: undefined;
    --radius: 0.5rem;
    --shadow-2xs: 0 1px 3px 0px 0 0% 0% / 0.05;
    --shadow-xs: 0 1px 3px 0px 0 0% 0% / 0.05;
    --shadow-sm: 0 1px 3px 0px 0 0% 0% / 0.10, 0 1px 2px -1px 0 0% 0% / 0.10;
    --shadow: 0 1px 3px 0px 0 0% 0% / 0.10, 0 1px 2px -1px 0 0% 0% / 0.10;
    --shadow-md: 0 1px 3px 0px 0 0% 0% / 0.10, 0 2px 4px -1px 0 0% 0% / 0.10;
    --shadow-lg: 0 1px 3px 0px 0 0% 0% / 0.10, 0 4px 6px -1px 0 0% 0% / 0.10;
    --shadow-xl: 0 1px 3px 0px 0 0% 0% / 0.10, 0 8px 10px -1px 0 0% 0% / 0.10;
    --shadow-2xl: 0 1px 3px 0px 0 0% 0% / 0.25;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-white;
  }
}

* {
  font-size: 16px;
}