.slideshow-container {
  position: relative;
  margin: auto;
  width: calc(100% + 25px);
  height: 491px; /* for skeleton */
  /* border-radius: var(--border-radius); */
}

.slideshow-wrapper {
  display: flex;
  padding-right: 25px;
  transition: transform 1s ease;
}

.slideshow-container .shadow-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  width: 80%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(0.25turn, var(--color-1b), transparent);
  transition: var(--transition);
}

.slideshow-container .score {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

.slideshow-container .content {
  opacity: 0;
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  height: max-content;
  padding-left: 20px;
  z-index: 2;
  text-shadow: black 1px 0 5px;
}

.slideshow-container .anime-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 2.1rem;
  font-weight: 800;
  line-height: 40px;
}

.slideshow-container .anime-info {
  color: var(--font-1);
  font-weight: 500;
  display: flex;
  gap: 10px;
  font-size: 0.8rem;
}

.slideshow-container .anime-info .bullet {
  color: var(--font-2);
}

.slideshow-container .anime-info .anime-format {
  color: var(--color-important);
}

.slideshow-container .anime-info,
.slideshow-container .anime-info *,
.slideshow-container .anime-genres {
}

.slideshow-container .anime-description {
  font-size: 0.9rem;
  color: var(--font-2);
  display: -webkit-box;
  line-height: 22px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slideshow-wrapper img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  /* transition: transform 0.5s ease-out; */
  transform: scale(1.04);
}

/* .slide:hover img {
  transform: scale(1.05);
} */

.slideshow-wrapper .buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.slide {
  height: 450px;
  position: relative;
  width: 100%;
  flex-shrink: 0;
  margin-right: 25px;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.dot-container {
  text-align: center;
  margin-top: 20px;
}

.dot {
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: var(--font-3);
  border-radius: 100%;
  display: inline-block;
  transition: var(--transition);
}

.dot.active {
  background-color: var(--font-1);
}
